
@font-face {
    font-family: 'Min Sans VF';
    src: url('https://poposnail61.github.io/fonts/MinSansVF.woff2') format('woff2'),
    url('https://poposnail61.github.io/fonts/MinSansVF.ttf') format('truetype');
}


@font-face {
    font-family: 'Min Sans';
    font-weight: 900;
    src: url('https://poposnail61.github.io/fonts/woff2/MinSans-Black.woff2') format('woff2'),
    url('https://poposnail61.github.io/fonts/MinSans-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Min Sans';
    font-weight: 700;
    src: url('https://poposnail61.github.io/fonts/woff2/MinSans-Bold.woff2') format('woff2'),
    url('https://poposnail61.github.io/fonts/MinSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Min Sans';
    font-weight: 500;
    src: url('https://poposnail61.github.io/fonts/woff2/MinSans-Medium.woff2') format('woff2'),
    url('https://poposnail61.github.io/fonts/MinSans-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Min Sans';
    font-weight: 400;
    src: url('https://poposnail61.github.io/fonts/woff2/MinSans-Regular.woff2') format('woff2'),
    url('https://poposnail61.github.io/fonts/MinSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Min Sans';
    font-weight: 900;
    src: url('https://poposnail61.github.io/fonts/woff2/MinSans-Black.woff2') format('woff2'),
    url('https://poposnail61.github.io/fonts/MinSans-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Min Sans';
    font-weight: 300;
    src: url('https://poposnail61.github.io/fonts/woff2/MinSans-Light.woff2') format('woff2'),
    url('https://poposnail61.github.io/fonts/MinSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Min Sans';
    font-weight: 100;
    src: url('https://poposnail61.github.io/fonts/woff2/MinSans-Thin.woff2') format('woff2'),
    url('https://poposnail61.github.io/fonts/MinSans-Thin.ttf') format('truetype');
}
