

* {
  box-sizing: border-box;
}

body {
  font-family: "Min Sans VF";
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  background-color: #F7F6F3;
  flex-direction: column;
}

h1 {
  font-weight: 100;
  font-size: 10vw;
  line-height: 10vw;
  font-variation-settings: "wght" 100;
  margin: 0 0 2vw;
}

h5 {
  font-size: 2vw;
  font-variation-settings: "wght" 300;
}

h1 span {
  --delay: calc((var(--char-index) + 1) * 100ms);
  animation: breathe 3000ms infinite both;
  animation-delay: var(--delay);
}

h1:hover span {
  animation-play-state: paused;
}

@keyframes breathe {
  0% {
    font-variation-settings: "wght" 100;
  }
  50% {
    font-variation-settings: "wght" 900;\
  }
  100% {
    font-variation-settings: "wght" 100;
  }
}
