body {
  margin: 0px;
  padding: 20px;
  font-family: 'Min Sans VF', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 18px;
  font-weight: 400;
  border: 1px solid #EAEAE8;
  background-color: #F7F6F3;
}
.w900 {
  font-weight: 900;
}
.w800 {
  font-weight: 800;
}
.w700 {
  font-weight: 700;
}
.w500 {
  font-weight: 500;
}
.w300 {
  font-weight: 300;
}
.w200 {
  font-weight: 200;
}

.pre {
  font-family: 'pre';
}
.ss01 {
  font-feature-settings: 'ss01' on;
}
.ss02 {
  font-feature-settings: 'ss02' on;
}
.ss03 {
  font-feature-settings: 'ss03' on;
}
.ss04 {
  font-feature-settings: 'ss04' on;
}
.ss05 {
  font-feature-settings: 'ss05' on;
}
.ss06 {
  font-feature-settings: 'ss06' on;
}